@font-face {
    font-family: "Young Serif";
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format("truetype");
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 54%, 90%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 0.625rem;
    margin-bottom: 0.75rem;
}

main {
    max-width: 43.75rem;
    background-color: hsl(0, 0%, 100%);
    padding: 2.25rem;
    border-radius: 1.25rem;
}

article {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}



h1 {
    color: hsl(24, 5%, 18%);
    margin-bottom: 1.5rem;
}

p {
    color: hsl(30, 10%, 34%);
    font-size: 1rem;
    
    
}

h3 {
    color: hsl(332, 51%, 32%);
    margin-bottom: 0.5rem;
    
}

.prep-time-list {
    list-style: none;
    
    
}

li {
  position: relative;
  padding-left: 1.875rem; 
  margin-bottom: 0.5rem;
  color: hsl(30, 10%, 34%);
}

li.last-line {
    margin-bottom: 0;
}

.prep-time-list li::before {
  content: "•"; 
  color: hsl(332, 51%, 32%);
  font-size: 1rem; 
  position: absolute;
  left: 0.3125rem;
  top: 50%;
  transform: translateY(-50%); 
}

section.prep-time {
    background-color: hsl(330, 100%, 98%);
    padding: 1.25rem;
    border-radius: 10px;
}


.ingredients {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}


.ingredients-list {
    list-style: none;
    margin-bottom: 1.5rem;

}


.ingredients-list li::before {
  content: "•"; 
  color: hsl(14, 45%, 36%);
  font-size: 1rem; 
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  left: 0;
}

ol li::marker {
    color: hsl(14, 45%, 36%);
}

ol {
    padding-left: 1.25rem;
    margin-bottom: 1.5rem;
    
    
}

ol li {
    padding-left: 0.625rem;
}

h2 {
    color: hsl(14, 45%, 36%);
    margin-bottom: 1.5rem;
}

.instructions {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

table {
    margin-top: 1.5rem;
    width : 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid hsl(30, 18%, 87%);
    
    
    
}

td{
    padding: 0.75rem 1.5rem;
    color: hsl(30, 10%, 34%);
}

.weight {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}
table tr:last-child {
    border-bottom: none;
}

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
}

.main-words {
    font-weight: 700;
}

@media (max-width: 450px) {
    main {
        max-width: none;
        width: 100vw;
        border-radius: 0;
        padding: 0;
    }
    article {
        padding: 1.5rem;
    }
    body {
        padding: 0;

    }
    img {
        border-radius: 0;
    }
}



